body    {
    background: linear-gradient(#212121,#7B1FA2);

}
p {
    color: white;
}

a:link {
    color:#FFFFFF; }

/* タイトル画像 */
img {
    width:180px;       /* タイトル画、横 */
    height:50px;       /* タイトル画、縦 */
}

/*ログインボタンの設定*/
input[type="submit"],
submit  {
    width: 70px;
    margin: 0 auto;
    padding: 10px ;
    font-size: 10px;
    display: block;
    color: #FFFFFF;
    background: #757575;  /*背景灰色*/
    border-radius: 5px;
}

/*    ここから使用できそうなパーツメモ

input[type="text"],
  width: 300px;


/*
input[type="text"],
textarea{
  vertical-align: middle;
textarea{
  width: 50px;
}

  margin: 0;
  padding: 0;
  height: 34px;
  border: 1px solid #000000;
  line-height: 1.2em;

  font-size: 1.2em;
}
input[type="text"]{
  width: 50px;
}


    position:center;
